            /* 
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
            
            * {
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.6;
            }
            
            h2, h3 {
                color: #1fabe5;
            }
            
            li {
                font-weight: bold;
            }
            
            p > a {
                color: #1fabe5;
            }
            
            header {
                background-color: #ff8523;
                height: 150px;
            }
            
            body {
                background-image: url(img/bg.jpg);
                margin-left: 150px;
                margin-right: 150px;
            }
            
            nav > a {
                border: 1px solid white;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
                font-weight: bold;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                position: relative;
                top: 20px;
            }
            
            header {
                padding-left: 20px;
                padding-top: 20px;
            }
            
            #page_content {
                background-color: white;
                padding: 10px 30px 50px 30px;
            }
            
            table, td {
                border-collapse: collapse;
                border: 1px solid #1fabe5;
            }
            
            table > thead > tr > td {
                background-color: #1fabe5;
                color: white;
                border: 1px solid #046c97;
                padding: 15px;
            }
            
            tbody > tr > td > img {
                max-width: 25%;
                height: auto;
                width: auto;
            }
            
            .name {
                background-color: #ff8523;
                height: 75px;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 25px;
                text-align: center;
            }
            
            form {
                background-color: #eee;
                padding: 1rem;
            }
            
            .city_container {
                background-color: #eee;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 20px;
            }
            
            form:nth-child(3) {
                font-weight: bold;
                font-size: 20px;
            }