/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h2, h3 {
    color: #1fabe5;
}

li {
    font-weight: bold;
}

p > a {
    color: #1fabe5;
}

header {
    background-color: #ff8523;
}

body {
    background-image: url(img/bg.jpg)
}